.section {
  background-image: url("../../images/mobile@1x.png");
  background-size: cover;
  min-height: 100vh;
}
@media only screen and (min-width: 768px) {
  .section {
    background-image: url("../../images/tablet@1x.png");
  }
}
@media only screen and (min-width: 1280px) {
  .section {
    background-image: url("../../images/iMac@1x.png");
  }
}
